
<form  name="inputForm">
  <div class="mb-3">
    <label class="form-label">Enter product</label>
    <input name="product" type="text" class="form-control">
  </div>
  <button type="submit" style="background-color: #5EBE41;" class="checkbtn">Check</button>
</form>
<br>

<div class="wrapper"></div>



<table style="background-color: #FFF6BC;" class="table">
  <thead>
    <tr>
      <th scope="col">Наименование</th>
      <th id="foodname" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th  scope="row">Количество порций</th>
      <td id="servingQty"></td>
    </tr>
    <tr>
      <th scope="row">Вес порции в граммах</th>
      <td id="servingWeight"></td>
     
    </tr>
    <tr>
      <th scope="row">Каллории</th>
      <td id="calories"></td>
    </tr>
    <tr>
      <th scope="row">Всего жиров</th>
      <td id="totalFat"></td>
    </tr>
     <tr>
      <th scope="row">Насыщенные жиры</th>
      <td id="saturatedFat"></td>
    </tr>
      <tr>
      <th scope="row">Холестерин</th>
      <td id="cholesterol"></td>
    </tr>
       <tr>
      <th scope="row">Натрий</th>
      <td id="sodium"></td>
    </tr>
    <tr>
      <th scope="row">Углеводы</th>
      <td id="totalCarbon"></td>
    </tr>
     <tr>
      <th scope="row">Пищевые волокна</th>
      <td id="dietary"></td>
    </tr>
     <tr>
      <th scope="row">Сахар</th>
      <td id="sugar"></td>
    </tr>
     <tr>
      <th scope="row">Белки</th>
      <td id="protein"></td>
    </tr>
    <tr>
      <th scope="row">Калий</th>
      <td id="potassium"></td>
    </tr>
    
  </tbody>
</table>

<script defer src="/js/gif.js"></script>
